asgiref==3.8.1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
Django==5.0.9
django-cors-headers==4.3.0
django-crispy-forms==1.14.0
django-filter==23.2
django-templated-mail==1.1.1
django-widget-tweaks==1.5.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.2.2
djoser==2.2.0
idna==3.4
oauthlib==3.2.2
psycopg2==2.9.5
#psycopg2--binary==2.9.5
pycparser==2.21
PyJWT==2.8.0
python-dotenv==0.20.0
python3-openid==3.2.0
pytz==2023.3.post1
requests==2.31.0
requests-oauthlib==1.3.1
social-auth-app-django==5.4.0
social-auth-core==4.5.0
sqlparse==0.4.3
tzdata==2022.7
urllib3==2.0.7
whitenoise==6.2.0
factory_boy==3.3.0
drf-spectacular==0.27.1
environs==9.5.0
django-jazzmin==2.6.0
django-debug-toolbar==4.3.0
coverage==7.4.4
django-queryset-csv==1.1.0
django-extensions==3.2.3
django_property_filter==1.2.0
django-colorfield==0.11.0